<%# javascript_include_tag "imagesloaded" %>
<%# javascript_include_tag "main" %>

<!-- 		Using Skrollr for parallax effects
<div class="about-page">
	<section id="slide-1" class="homeSlide">
		<div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
			<div class="hsContainer">
				<div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-1 h2">
					<h1 id="first-title"><span class="bgBlack">A Little About Us</span></h1>
				</div>
			</div>
		</div>
	</section>

	<section id="slide-2">
		<div class="bcg" data-0="background-color:rgb(1,27,59);" data-top="background-color:(0,0,0);"  data-anchor-target="#slide-2">
			<div class="hsContainer">
				<div class="hsContent">
				<h2 data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">On a cold January night...</h2>
					<p data-center="opacity: 1" data--200-bottom="opacity: 0" data-206-top="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-2 h2">Yvette and I met for the first time. We had no idea what life had in store for us.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="slide-3" class="homeSlide">
		<div class="bcg" data-center="background-position: 0px 50%;" data-bottom-top="background-position: 0px 40%;" data-top-bottom="background-position: -40px 50%;" data-anchor-target="#slide-3">
			<div class="hsContainer">
				<div class="hsContent">
					<div class="plaxEl" data-106-top="opacity: 0" data--30p-top="opacity: 1;" data--60p-top="opacity: 0;" data-bottom="opacity: 1; position: fixed; top: 206px; width: 100%; left: 0;"  data-anchor-target="#slide-3">
					<h2>We Travelled all over</h2>
						<p><span class="bgBlack">To the Smoky Mountains of Tennessee, and the 
						valleys of Yellowstone...</span></p>
						<p><span class="bgBlack">There is no place we won't go.</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="slide-4" class="homeSlide homeSlideTall">
		<div class="bcg" data-center="background-position: 50% 0px;" data-bottom-top="background-position: 50% 100px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-4">
			<div class="curtainContainer">

				<div class="curtain" data-bottom-top="opacity: 0" data-106-top="height: 1%; opacity: 0; top: -10%;" data-center="height: 100%; opacity: 0.5; top: 0%;" data-anchor-target="#slide-4"></div>
				<div class="copy" data-bottom-top="opacity: 0" data--100-bottom="opacity: 0" data--280-bottom="opacity: 1;" data-280-top="opacity: 1;" data-106-top="opacity: 0;" data-anchor-target="#slide-4 .copy">
					<h3 id="final-slide"><span class="bgBlack">We got married November 5th, 2017,<br/>
					but now the real adventure starts!</span></h3>
				</div>

			</div>
		</div>
	</section>

</div> -->

<div class="para">

	<div class="para-group" id="para-group-1">
		<div class="para-layer para-layer-base" id="image-1">
			<div class="group-content">
				<div class="text-box"><h1>A Little About Us</h1></div>
			</div>
		</div>
	</div>

	<div class="para-group" id="para-group-2">
		<div class="para-layer para-layer-back" id="bgcBlack">
			<div class="group-content text-center">
				<div class="text-box">
					<h2>On a cold January night...</h2>
					<p>Yvette and I met for the first time. We had no idea what life had in store for us.</p>
				</div>
			</div>
		</div>
		<div class="para-layer para-layer-base">
		</div>
	</div>
	<div class="para-group" id="para-group-3">
		<div class="para-layer para-layer-base" id="image-2">
		</div>
		<div class="para-layer para-layer-fore" id="curtainEffect">
			<div class="group-content text-center">
				<div class="text-box text-center">
					<h4>To the Smoky Mountains of Tennessee, and the 
							valleys of Yellowstone... <br>There is no place we won't go!</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="para-group" id="para-group-4">
		<div class="para-layer para-layer-back" id="bgcBlack">
			<div class="group-content text-center">
				<div class="text-box">
					<h2>Three years later...</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="para-group" id="para-group-5">
		<div class="para-layer para-layer-base" id="image-3">
			<div class="group-content text-center">
				<div class="text-box">
					<h4>We got married on November 5th, 2017,<br/>
					but now the real adventure starts!</h4>
				</div>
			</div>
		</div>
	</div>
</div>
