
<section class="module parallax parallax-1">
	<div class="container">
		<h1 class="greeting text-center">Welcome to Fairyland</h1>
	</div>
</section>

<section class="module content">
	<div class="container">
		<h2>Post Content</h2>
		<p>Parallax is an effect where the position of an object seems to be different when viewed from different positions. Parallax motion, or in our case, parallax scrolling, then gives us the illusion that two objects in the same line of sight, but with distance between them, seem to move at different speeds. If you've ever looked out a car window while driving at 100 km per hour down a highway, you'll notice that the electricity poles seem to zip by at a high pace, while the mountains in the background seem to move by really slowly, almost at a standstill. This is parallax motion in action.</p>
	</div>
</section>