
<section class="module parallax parallax-1">
	<div class="container">
		<h1 class="greeting text-center">Welcome to Fairyland</h1>
	</div>
</section>

<section class="module content">
	<div class="container">
		<h2 id="posts" class="text-center"><strong><u>Posts</u></strong></h2>
		<% @pages.last do |t| %>
			<div class="well-lg">
				<h3 class="article-title text-center"><%= t.title %></h3>
				<p class="article-text"><%= t.body %></p>		
				<ul class="list-inline">
					<li><%= link_to "Delete", page_path(t), method: :delete, data: {confirm: "Really delete the article?"} %></li>
					<li><%= link_to "Edit", edit_page_path(t) %></li>
				</ul>
			</div>	
		<% end %>
	</div>
</section>