// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */

.container {

	//font-family: 'Fredoka One', cursive;
  font-family: 'Bubbler One', sans-serif;

	max-width: 960px;
	margin: 0 auto;

}

/* ============================================================
  SECTIONS
============================================================ */

section.module h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}

section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.7);
  //font-family: "Lato", serif;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  line-height: 120px;
  font-weight: 700;
  text-align: center;
  //text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("/assets/wood-nature-sunny-forest.jpg");
  transform:translateZ(-100);
}
@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 80px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 140px;
  }
}

.well-lg {
  background-color: #ffffff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}